.contact-page {
  font-family: "Segoe UI", sans-serif;
  padding: 40px 20px;
}

.contact-header {
  text-align: center;
  margin-bottom: 40px;
}

.contact-header h1 {
  font-size: 30px;
  color: #07565c;
  margin-bottom: 10px;
}

.contact-header p {
  font-size: 18px;
  color: #555;
}

/* Info Cards */
.contact-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.info-card {
  flex: 1 1 200px;
  text-align: center;
  background: #fefdfd;
  border-radius: 12px;
  padding: 20px 40px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
}

.info-card i {
  font-size: 36px;
  color: #9fb03a;
  margin-bottom: 12px;
}

.info-card h3 {
  color: #07565c;
  margin-bottom: 12px;
  margin-top: 4px;
  font-size: 17px;
}

.info-card p {
  color: #555;
  font-size: 15px;
}

.info-card:hover {
  background: #07565c;
  color: #fff;
}

.info-card:hover i,
.info-card:hover p,
.info-card:hover h3 {
  color: #fff;
}

/* Form + Map */
.contact-form-map {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.contact-form {
  flex: 1 1 400px;
  /* background: #f9f9f9; */
  padding: 25px;
  border-radius: 12px;
  /* box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08); */
}

.contact-form h2 {
  margin-bottom: 20px;
  color: #07565c;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 15px;
}

.contact-form button {
  background: #9fb03a;
  color: #fff;
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background: #07565c;
}

.map-container {
  flex: 1 1 400px;
  height: 480px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 500px) {
  .map-container {
height: 400px;
  }
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #9fb03a;
  box-shadow: 0 0 4px rgba(159, 176, 58, 0.4);
}
