.sitemap-container {
  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  color: #191919;
}

.sitemap-title {
  font-size: 32px;
  color: #07565c;
  margin-bottom: 30px;
  text-align: left;
  font-weight: 700;
}

.sitemap-section {
  margin-bottom: 40px;
}

.sitemap-section h2 {
  font-size: 22px;
  font-weight: 600;
  color: #07565c;
  margin-bottom: 5px;
}

.underline {
  width: 100%;
  height: 2px;
  background-color: #dcdcdc;
  margin-bottom: 12px;
}

.sitemap-section ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.sitemap-section ul li {
  font-size: 16px;
  padding: 5px 0;
  color: #191919;
  cursor: pointer;
  transition: color 0.2s ease;
}

.sitemap-section ul li:hover {
  color: #07565c;
}

.expertise-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 40px; /* row gap | column gap */
  list-style-position: inside;
}

/* Mobile view */
@media (max-width: 768px) {
  .expertise-list {
    grid-template-columns: 1fr;
  }
}


.sitemap-section h2 a,
.expertise-list li a {
  text-decoration: none;
  color: inherit;
}

.sitemap-section h2 a:hover,
.expertise-list li a:hover {
  color:#9fb03a;
}

