.cards-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  /* padding: 40px; */

  flex-wrap: wrap;
}

.card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  width: 300px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.card-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
  text-align: left;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-description {
  font-size: 0.9rem;
  color: #555;
}
