.footer {
  background-color: #07565c;
  color: #fff;
  padding: 40px 20px 0;
  font-family: "Segoe UI", sans-serif;
}


.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-col {
  flex: 1;
  min-width: 300px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer-col h3 {
  margin-bottom: 15px;
  font-size: 1.3rem;
  color: #ffffff;
}

.footer-col p {
  margin: 6px 0;
  font-size: 0.95rem;
  line-height: 1.5;
}

.newsletter-form {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.newsletter-form input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.newsletter-form button {
  background-color: #9fb03a;
  color: #07565c;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.newsletter-form button:hover {
  background-color: #88a12d;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icons a {
  font-size: 1.8rem;
  color: #fff;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #9fb03a;
}

/* Bottom bar */
.footer-bottom {
  background-color: #043c41; /* Darker shade of #07565c */

  padding: 10px 0;
  /* margin-top: 30px; */
  font-size: 0.9rem;
  color: #ccc;
}

.footer-bottom p {
  margin: 0;
}

.footer-nav {
  display: flex;
  justify-content: spacebetween;
  gap: 15px;
}

.footer-nav li {
  list-style-type: none;
  margin-bottom: 10px;
}

.footer-nav li a {
  color: white;
  text-decoration: none;
}

.footer-nav li a:hover {
  color: #9fb03a;

  transition: color ease-in-out 0.2s;
}

.footer-nav .footer-nav-left {
  text-align: left;
}

.footer-nav .footer-nav-left {
  text-align: right;
}

.footer-3-links {
  display: flex;
  justify-content: space-between;
}

.footer-3-links a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.footer-3-links a:hover {
  color: #88a12d;
  transition: color ease-in 0.3s;
}


@media (max-width: 768px) {
  .footer-bottom p {
    margin: 10px 0;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .footer-nav li {
    font-size: 14px;
  }

  .footer-col .social-icons a{
    font-size: 24px;

  }


}
