/* src/components/HeroCarousel.css */
.carousel-img {
  height: 90vh;
  object-fit: cover;
  filter: brightness(0.5);
}

.carousel-caption-custom {
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  text-align: center;
}

.carousel-caption-custom h1 {
  font-size: 4.5rem;
  font-weight: bold;
}

.carousel-caption-custom p {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.animate-text {
  animation: fadeInUp 1s ease-in-out;
}

.animate-text.delay {
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.carousel-caption-custom button {
  font-size: 1rem;
  padding: 14px 28px;
  /* border-radius: px; */
  background-color: #8b9b32;
  border: none;
  border-radius: 0px;
  transition: all 0.3s ease-in-out;
  /* width: 150px; */
  box-shadow: 0 4px 15px rgba(0, 147, 161, 0.3);
}

.carousel-caption-custom button:hover {
  background-color: #007783;
  transform: scale(1.05);
  /* box-shadow: 0 6px 20px rgba(0, 147, 161, 0.5); */
  color: white;
}
