.team-slider {
  padding: 40px 0;
}

.team-card {
  /* width: 140px; */
  /* background: #fff; */
  /* padding: 30px 20px; */
  /* margin: 0 10px; */
  border-radius: 12px;
  text-align: center;
  margin-bottom: 40px;
  /* box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-text {
  width: 240px;
}
.team-card:hover {
  /* transform: translateY(-10px); */
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
}

.slick-slide img {
  width: 240px;
  height: 200px;
  cursor: pointer;
  object-fit: cover;
}

.team-img img {
  width: 140px;
  height: 100px !important;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #07565c; /* turquoise border */
  margin-bottom: 20px;
}

.team-text h4 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #07565c; /* turquoise */
  margin-bottom: 4px;
  font-weight: 600;
}

.team-text p {
  font-size: 1rem;
  color: #0093a1; /* sky blue */
  margin-bottom: 6px;
  font-weight: bold;
}

.team-text span {
  display: block;
  font-size: 0.9rem;
  color: #333; /* sky green */
  /* font-weight: bold; */
}

.social-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 0.95rem;
  font-weight: bold;
  text-decoration: none;
  color: #9fb03a; /* sky green */
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #07565c; /* turquoise */
}

.linkedin-icon {
  font-size: 1.2rem;
}
