.section-container.bg-blue {
  background-color: #07565c;
  color: white;
  border-bottom: 1px solid white;
  padding: 2rem 0;
  margin-top: 3rem;
}

.section-container.bg-blue h4 {
  margin-top: 1rem;
  cursor: pointer;
}
