.swiper-wrapper-container {
  padding: 30px;
}

.news-card {
  border-radius: 5px;
  padding: 15px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.news-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.news-card h3 {
  font-size: 1.1rem;
  margin: 10px 0 5px;
}

.news-card p {
  font-size: 0.9rem;
  color: #555;
}

/* Custom pagination dots */
.custom-swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-bullet {
  width: 12px;
  height: 12px;
  margin: 0 6px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-bullet-active {
  background: #9fb03a;
  transform: scale(1.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.heading-wrapper {
  display: flex;
  justify-content: space-between;
  /* margin-right: 60px; */
  align-items: center;
  margin-bottom: 20px;
}

.heading-wrapper button {
  color: white;
}


@media (max-width: 768px) {
  .heading-wrapper {
    display: flex;
    flex-direction: column;
  }
}