.img-section-background {
  background-image: url("../../imgs/section-img.png"); /* If in public folder */
  background-size: cover;
  background-position: center;
  padding: 5rem 1.5rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-section-background h1 {
  color: white;
}
